<div class="full-width footer-area">
    <div class="row fullWidth">
        <div class="small-12 medium-4 large-4 columns">
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, veniam, asperiores fugit quas quaerat soluta in quibusdam placeat incidunt suscipit esse neque quisquam eaque rem!</p>
        </div>
 
        <div class="small-12 medium-4 large-4 columns">
            <h4>Reviews</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, veniam, asperiores fugit quas quaerat soluta in quibusdam placeat incidunt suscipit esse neque quisquam eaque rem!</p>
        </div>
 
        <div class="small-12 medium-4 large-4 columns">
            <h4>And Here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, veniam, asperiores fugit quas quaerat soluta in quibusdam placeat incidunt suscipit esse neque quisquam eaque rem!</p>
        </div>
    </div>
</div> 